<form method="POST" accept-charset="utf-8">

	{% if errors %}
		<ul>
			{% for error in errors %}
				<li>{{ error }}</li>
			{% endfor %}
		</ul>
	{% endif %}

	<input type="text" name="username" placeholder="Username">
	<input type="password" name="password" placeholder="Password">
	<button>Login</button>

</form>
